.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  padding: 16px 32px;
  font-weight: 700;
  font-size: var(--font-s);
  line-height: var(--lh-primary);
  text-align: center;
  color: var(--color-button-primary-text);
  background-color: var(--color-button-primary-bg-default);
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease, opacity 0.2s ease;
  cursor: pointer;

  .icon {
    fill: var(--color-button-primary-text);
  }

  &:hover,
  &.focus-visible {
    background-color: var(--color-button-primary-bg-hover);
  }

  &:active {
    background-color: var(--color-button-primary-bg-click);
  }

  &:disabled,
  &.disabled {
    color: var(--color-button-primary-text-disabled);
    background-color: var(--color-button-primary-bg-disabled);
    cursor: not-allowed;

    .icon {
      fill: var(--color-button-primary-text-disabled);
    }
  }

  &--small {
    padding: 12px 24px;
  }

  &--second {
    border: 1px solid var(--color-button-secondary-border);
    color: var(--color-button-secondary-text);
    background-color: transparent;

    .icon {
      fill: var(--color-button-secondary-text);
    }

    &:hover,
    &.focus-visible {
      background-color: var(--color-button-secondary-bg-hover);
    }

    &:active {
      border-color: var(--color-button-secondary-bg-hover);
      background-color: var(--color-button-secondary-bg-hover);
    }

    &:disabled,
    &.disabled {
      border-color: var(--color-button-secondary-bg-disabled);
      color: var(--color-button-secondary-text-disabled);
      background-color: var(--color-button-secondary-bg-disabled);

      .icon {
        fill: var(--color-button-secondary-text-disabled);
      }
    }
  }

  &--third {
    padding: 0 !important;
    color: var(--color-button-tertiary-text-default);
    background-color: transparent;

    .icon {
      fill: var(--color-button-tertiary-text-default);
    }

    &:hover,
    &.focus-visible {
      color: var(--color-button-tertiary-text-hover);
      background-color: transparent;

      .icon {
        fill: var(--color-button-tertiary-text-hover);
      }
    }

    &:active {
      color: var(--color-button-tertiary-text-click);
      background-color: transparent;

      .icon {
        fill: var(--color-button-tertiary-text-click);
      }
    }

    &:disabled,
    &.disabled {
      color: var(--color-button-tertiary-text-disabled);
      background-color: transparent;

      .icon {
        fill: var(--color-button-tertiary-text-disabled);
      }
    }
  }

  &--important {
    color: var(--color-button-important-primary-text);
    background-color: var(--color-button-important-primary-bg-default);

    .icon {
      fill: var(--color-button-important-primary-text);
    }

    &:hover,
    &.focus-visible {
      background-color: var(--color-button-important-primary-bg-hover);
    }

    &:active {
      background-color: var(--color-button-important-primary-bg-click);
    }

    &:disabled,
    &.disabled {
      color: var(--color-button-important-primary-text-disabled);
      background-color: var(--color-button-important-primary-bg-disabled);

      .icon {
        fill: var(--color-button-important-primary-text-disabled);
      }
    }

    &.btn--second {
      border: 1px solid var(--color-button-important-secondary-border);
      color: var(--color-button-important-secondary-text);
      background-color: transparent;

      .icon {
        fill: var(--color-button-important-secondary-text);
      }

      &:hover,
      &.focus-visible {
        background-color: var(--color-button-important-secondary-bg-hover);
      }

      &:active {
        border-color: var(--color-button-important-secondary-bg-hover);
        background-color: var(--color-button-important-secondary-bg-hover);
      }

      &:disabled,
      &.disabled {
        border-color: var(--color-button-important-secondary-bg-disabled);
        color: var(--color-button-important-secondary-text-disabled);
        background-color: var(--color-button-important-secondary-bg-disabled);

        .icon {
          fill: var(--color-button-important-secondary-text-disabled);
        }
      }
    }
  }

  &--default {
    border: 1px solid var(--color-button-default-border);
    color: var(--color-button-default-text);
    background-color: var(--color-button-default-bg-default);

    .icon {
      fill: var(--color-button-default-text);
    }

    &:hover,
    &.focus-visible {
      background-color: var(--color-button-default-bg-hover);
    }

    &:active {
      border-color: var(--color-button-default-bg-click);
      background-color: var(--color-button-default-bg-click);
    }

    &:disabled,
    &.disabled {
      border-color: var(--color-button-default-bg-disabled);
      color: var(--color-button-default-text-disabled);
      background-color: var(--color-button-default-bg-disabled);

      .icon {
        fill: var(--color-button-default-text-disabled);
      }
    }

    &.btn--icon {
      &:active {
        border-color: var(--color-button-default-border);

        .icon {
          opacity: 0.6;
        }
      }

      &:disabled,
      &.disabled {
        border-color: var(--color-button-default-border);

        .icon {
          opacity: 1;
        }
      }
    }
  }

  &--other {
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: var(--color-button-other-bg);

    .icon {
      fill: var(--color-icons-primary-inverse);
    }

    &:hover,
    &.focus-visible {
      background-color: var(--color-button-other-bg);
      opacity: 0.8;
    }

    &:active {
      background-color: var(--color-button-other-bg);
      opacity: 0.6;
    }
  }

  &--icon {
    padding: 12px;
  }

  &--right {
    padding-right: 24px;

    .icon {
      margin-left: 8px;
    }

    &.btn--small {
      padding-right: 18px;
    }
  }

  &--left {
    padding-left: 24px;

    .icon {
      order: -1;
      margin-right: 8px;
    }

    &.btn--small {
      padding-left: 18px;
    }
  }

  &--subscribe {
    padding: 12px 24px !important;

    &.active {
      border-color: var(--color-button-primary-bg-click);
      color: var(--color-button-primary-text);
      background-color: var(--color-button-primary-bg-click);

      .icon {
        display: none;
      }

      &:hover,
      &.focus-visible {
        border-color: var(--color-button-primary-bg-hover);
        background-color: var(--color-button-primary-bg-hover);
      }
    }
  }
}
