.comments {
  border-radius: 16px;
  padding: 40px 32px;
  background-color: var(--color-bg-island);

  &__title {
    margin-bottom: 24px;
  }

  &__form {
    display: flex;
  }

  &__input {
    overflow-y: hidden;
    padding-bottom: 80px;
    width: 100%;
    height: auto;
  }

  &__btn {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }

  &__list {
    display: grid;
    margin-top: 40px;
    gap: 32px;
  }
}

.comments-field {
  width: 100%;

  &__inner {
    position: relative;
    display: flex;
  }
}
