.counter {
  display: flex;

  &__input {
    border-radius: 0;
    padding: 8px;
    width: 56px;
    text-align: center;
  }

  &__btn {
    padding: 16px;

    .icon {
      fill: var(--color-icons-accent);
    }

    &--minus {
      border-right: none;
      border-radius: 8px 0 0 8px;
    }

    &--plus {
      border-left: none;
      border-radius: 0 8px 8px 0;
    }
  }
}
