.feed-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 80px 32px;
  background-color: var(--color-bg-island);

  &__text {
    margin-bottom: 8px;
  }

  &__hint {
    font-weight: 400;
    font-size: var(--font-s);
    line-height: var(--lh-primary);
    text-align: center;
    color: var(--color-text-primary);
  }

  &__btn {
    margin-top: 16px;
  }
}
