.popup {
  &__container {
    position: relative;
    border-radius: 16px;
    padding: 64px 32px;
    max-width: 400px;
    background-color: var(--color-bg-island);

    &--auth {
      .popup__bottom {
        display: grid;
        gap: 16px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    &--success {
      align-items: center;
      text-align: center;

      .popup__title {
        margin-bottom: 12px;
      }

      .popup__icon {
        margin-bottom: 24px;
      }
    }
  }

  &__form {
    display: grid;
    gap: 16px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__bottom {
    display: flex;
    margin-top: 16px;
  }

  &__text {
    margin-right: 8px;
    font-size: var(--font-s);
    line-height: var(--lh-s);
    color: var(--color-text-primary);
  }
}
