<article class="comments-item">
	<div class="comments-item__header">
		<div class="comments-item__info">
			<a href="user.html" class="comments-item__avatar">
				<img src="img/placeholder-avatar.jpg" alt="Фото профиля" width="40" height="40" loading="lazy">
			</a>
			<a href="user.html" class="comments-item__author">@name</a>
			<time class="comments-item__date" datetime="2022-12-02 16:28">@time</time>
		</div>
		<button type="button" class="btn-reset  comments-item__btn  comments-item__btn--delete" data-graph-path="delete-comment"  aria-label="Удалить комментарий">
			<svg class="icon  icon--16" aria-hidden="true" focusable="false">
				<use href="img/sprite.svg#delete" />
			</svg>
		</button>
	</div>
	<p class="comments-item__text">@text</p>
</article>
