<div class="graph-modal">
  <div class="graph-modal__container  popup__container  popup__container--register" role="dialog" aria-modal="true" data-graph-target="register">
    <button class="btn-reset js-modal-close graph-modal__close  btn  btn--other" aria-label="Закрыть модальное окно">
      <svg class="icon" aria-hidden="true" focusable="false">
        <use href="img/sprite.svg#cross"/>
      </svg>
    </button>

		<!-- Форма регистрации -->
    <div class="graph-modal__content  popup__content">
      <h2 class="section-h2  popup__title">Регистрация</h2>
      <form id="register-form" action="https://echo.htmlacademy.ru" method="POST" class="popup__form">
				<div class="form-field">
					<input type="text" name="username" id="username-register" class="input  popup__input" placeholder="Имя и фамилия" autocomplete="name">
					<label class="form-field__error  hidden" for="username-register">
						<svg class="icon  icon--16" aria-hidden="true" focusable="false">
							<use href="img/sprite.svg#circle-cross"/>
						</svg>
						<span class="form-field__text">Здесь будет текст ошибки</span>
					</label>
				</div>
				<div class="form-field">
					<input type="email" name="email" id="email-register" class="input  popup__input" placeholder="Электронная почта" autocomplete="username">
					<label class="form-field__error  hidden" for="email-register">
						<svg class="icon  icon--16" aria-hidden="true" focusable="false">
							<use href="img/sprite.svg#circle-cross"/>
						</svg>
						<span class="form-field__text">Здесь будет текст ошибки</span>
					</label>
				</div>
				<div class="form-field">
					<input type="password" name="password" id="password-register" class="input  popup__input" placeholder="Пароль" autocomplete="new-password">
					<label class="form-field__error  hidden" for="password-register">
						<svg class="icon  icon--16" aria-hidden="true" focusable="false">
							<use href="img/sprite.svg#circle-cross"/>
						</svg>
						<span class="form-field__text">Здесь будет текст ошибки</span>
					</label>
				</div>
        <button type="submit" class="btn  popup__btn">Зарегистрироваться</button>
      </form>
      <div class="popup__bottom">
        <span class="popup__text">Есть аккаунт?</span>
				<button class="btn-reset  section-link  popup__link" data-graph-path="auth" data-graph-speed="0">Войти</button>
      </div>
    </div>

		<!-- Успешная регистрация -->
		<!-- <div class="graph-modal__content  popup__content  popup__content--success">
			<img class="popup__icon" src="img/success-register.svg" alt="" width="96" height="96">
			<h2 class="section-h2  popup__title">Регистрация завершена</h2>
			<p class="popup__desc">Ура! Теперь можно обмениваться рецептами с другими участниками платформы</p>
    </div> -->
  </div>

  <div class="graph-modal__container  popup__container  popup__container--auth" role="dialog" aria-modal="true" data-graph-target="auth">
		<button class="btn-reset  js-modal-close  graph-modal__close  btn  btn--other" aria-label="Закрыть модальное окно">
      <svg class="icon" aria-hidden="true" focusable="false">
        <use href="img/sprite.svg#cross"/>
      </svg>
    </button>
    <div class="graph-modal__content  popup__content">
      <h2 class="section-h2  popup__title">Вход в аккаунт</h2>
      <form id="auth-form" action="https://echo.htmlacademy.ru" method="POST" class="popup__form">
				<div class="form-field">
					<input type="email" name="email" id="email-auth" class="input  popup__input" placeholder="Электронная почта" autocomplete="username">
					<label class="form-field__error  hidden" for="email-auth">
						<svg class="icon  icon--16" aria-hidden="true" focusable="false">
							<use href="img/sprite.svg#circle-cross"/>
						</svg>
						<span class="form-field__text">Здесь будет текст ошибки</span>
					</label>
				</div>
				<div class="form-field">
					<input type="password" name="password" id="password-auth" class="input  popup__input" placeholder="Пароль" autocomplete="current-password">
					<label class="form-field__error  hidden" for="password-auth">
						<svg class="icon  icon--16" aria-hidden="true" focusable="false">
							<use href="img/sprite.svg#circle-cross"/>
						</svg>
						<span class="form-field__text">Здесь будет текст ошибки</span>
					</label>
				</div>
        <button type="submit" class="btn  popup__btn">Войти</button>
      </form>
      <div class="popup__bottom">
        <a href="#" class="section-link  popup__link">Забыли пароль?</a>
        <button class="btn-reset  section-link  popup__link" data-graph-path="register" data-graph-speed="0">Регистрация</button>
      </div>
    </div>
  </div>

	<div class="graph-modal__container  dialog__container  dialog__container--important" role="dialog" aria-modal="true" data-graph-target="delete-account">
    <div class="graph-modal__content  dialog__content">
			<div class="dialog__top">
				<div class="dialog__icon">
					<svg class="icon" aria-hidden="true" focusable="false">
						<use href="img/sprite.svg#delete"/>
					</svg>
				</div>
				<div class="dialog__info">
					<h2 class="section-h3  dialog__title">Удалить аккаунт?</h2>
					<p class="dialog__desc">Рецепты, комментарии и другая связанная информация с аккаунтом будет удалена навсегда</p>
				</div>
			</div>
      <div class="dialog__bottom">
				<button class="btn  btn--default  btn--small  dialog__btn  js-modal-close">Отменить</button>
				<a href="index.html" class="btn  btn--important  btn--small  dialog__btn">Удалить</a>
      </div>
    </div>
  </div>

	<div class="graph-modal__container  dialog__container  dialog__container--important" role="dialog" aria-modal="true" data-graph-target="delete-recipe">
    <div class="graph-modal__content  dialog__content">
			<div class="dialog__top">
				<div class="dialog__icon">
					<svg class="icon" aria-hidden="true" focusable="false">
						<use href="img/sprite.svg#delete"/>
					</svg>
				</div>
				<div class="dialog__info">
					<h2 class="section-h3  dialog__title">Удалить рецепт?</h2>
					<p class="dialog__desc">После удаления восстановить рецепт будет невозможно</p>
				</div>
			</div>
      <div class="dialog__bottom">
				<button class="btn  btn--default  btn--small  dialog__btn  js-modal-close">Отменить</button>
				<a href="index.html" class="btn  btn--important  btn--small  dialog__btn">Удалить</a>
      </div>
    </div>
  </div>

	<div class="graph-modal__container  dialog__container  dialog__container--important" role="dialog" aria-modal="true" data-graph-target="delete-comment">
    <div class="graph-modal__content  dialog__content">
			<div class="dialog__top">
				<div class="dialog__icon">
					<svg class="icon" aria-hidden="true" focusable="false">
						<use href="img/sprite.svg#delete"/>
					</svg>
				</div>
				<div class="dialog__info">
					<h2 class="section-h3  dialog__title">Удалить комментарий?</h2>
					<p class="dialog__desc">После удаления восстановить комментарий будет невозможно</p>
				</div>
			</div>
      <div class="dialog__bottom">
				<button class="btn  btn--default  btn--small  dialog__btn  js-modal-close">Отменить</button>
				<a href="index.html" class="btn  btn--important  btn--small  dialog__btn">Удалить</a>
      </div>
    </div>
  </div>
</div>
