/* stylelint-disable */
:root {
  // base
  --header-height: 80px;
  --font-family: "Nunito Sans", sans-serif;
  --content-width: 1070px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-text-accent: rgba(137, 203, 36, 1);
  --color-text-primary: rgba(33, 33, 33, 1);
  --color-text-secondary: rgba(170, 170, 170, 1);
  --color-text-secondary-inverse: rgba(246, 246, 246, 1);
  --color-text-disabled: rgba(209, 209, 209, 1);
  --color-text-error: rgba(249, 50, 50, 1);
  --color-bg-global: rgba(246, 246, 246, 1);
  --color-bg-island: rgba(255, 255, 255, 1);
  --color-bg-island-hover: rgba(251, 251, 251, 1);
  --color-bg-island-hover-inverse: rgba(246, 246, 246, 1);
  --color-bg-disabled: rgba(246,246,246,1);
  --color-bg-border: rgba(170, 170, 170, 1);
  --color-bg-modal: rgba(33, 33, 33, 0.7);
  --color-icons-accent: rgba(137, 203, 36, 1);
  --color-icons-primary: rgba(33,33,33,1);
  --color-icons-secondary: rgba(170, 170, 170, 1);
  --color-icons-primary-inverse: rgba(255, 255, 255, 1);
  --color-icons-success: rgba(5,172,92,1);
  --color-icons-info: rgba(0,109,188,1);
	--color-icons-warning: rgba(248,171,18,1);
	--color-icons-error: rgba(249,50,50,1);
  --color-button-primary-bg-default: rgba(137, 203, 36, 1);
  --color-button-primary-bg-hover: rgba(114, 169, 30, 1);
  --color-button-primary-bg-click: rgba(91, 135, 24, 1);
  --color-button-primary-bg-disabled: rgba(246, 246, 246, 1);
  --color-button-primary-text: rgba(255, 255, 255, 1);
  --color-button-primary-text-disabled: rgba(209, 209, 209, 1);
  --color-button-secondary-bg-default: rgba(246, 246, 246, 1);
  --color-button-secondary-bg-hover: rgba(249, 255, 240, 1);
  --color-button-secondary-bg-click: rgba(249, 255, 240, 1);
  --color-button-secondary-bg-disabled: rgba(246, 246, 246, 1);
  --color-button-secondary-border: rgba(137, 203, 36, 1);
  --color-button-secondary-text: rgba(137, 203, 36, 1);
  --color-button-secondary-text-disabled: rgba(209, 209, 209, 1);
  --color-button-tertiary-text-default: rgba(137, 203, 36, 1);
  --color-button-tertiary-text-hover: rgba(114, 169, 30, 1);
  --color-button-tertiary-text-click: rgba(91, 135, 24, 1);
  --color-button-tertiary-text-disabled: rgba(209, 209, 209, 1);
  --color-button-other-bg: rgba(170, 170, 170, 0.8);
  --color-button-important-primary-text: rgba(255,255,255,1);
	--color-button-important-primary-bg-default: rgba(249,50,50,1);
	--color-button-important-primary-bg-hover: rgba(225,7,7,1);
	--color-button-important-primary-bg-click: rgba(161,5,5,1);
	--color-button-important-primary-bg-disabled: rgba(246,246,246,1);
	--color-button-important-primary-text-disabled: rgba(209,209,209,1);
  --color-button-important-secondary-bg-hover: rgba(254,239,239,1);
	--color-button-important-secondary-bg-active: rgba(254,239,239,1);
	--color-button-important-secondary-bg-disabled: rgba(246,246,246,1);
	--color-button-important-secondary-border: rgba(249,50,50,1);
	--color-button-important-secondary-text: rgba(249,50,50,1);
	--color-button-important-secondary-text-disabled: rgba(209,209,209,1);
  --color-button-default-bg-default: rgba(255,255,255,1);
	--color-button-default-bg-hover: rgba(246,246,246,1);
	--color-button-default-bg-click: rgba(246,246,246,1);
	--color-button-default-bg-disabled: rgba(246,246,246,1);
	--color-button-default-border: rgba(209,209,209,1);
	--color-button-default-text: rgba(33,33,33,1);
	--color-button-default-text-disabled: rgba(209,209,209,1);
  --color-fields-bg: rgba(254, 254, 254, 1);
  --color-fields-bg-error: rgba(255, 245, 245, 1);
  --color-fields-bg-disabled: rgba(246, 246, 246, 1);
  --color-bg-success: rgba(222,254,238,1);
  --color-bg-info: rgba(219,240,255,1);
	--color-bg-warning: rgba(254,242,220,1);
	--color-bg-error: rgba(254,239,239,1);
  --color-fields-border-default: rgba(209, 209, 209, 1);
  --color-fields-border-hover: rgba(157, 155, 155, 1);
  --color-fields-border-focused: rgba(137, 203, 36, 1);
  --color-fields-border-error: rgba(255, 216, 216, 1);
  --color-fields-placeholder: rgba(33, 33, 33, 0.4);
  --color-fields-text-primary: rgba(33, 33, 33, 1);
  --color-fields-text-secondary: rgba(170, 170, 170, 1);
  --color-fields-text-disabled: rgba(209, 209, 209, 1);

  // font sizes
  --font-h1: 28px;
  --font-h2: 26px;
  --font-h3: 20px;
  --font-primary: 18px;
  --font-s: 16px;
  --font-xs: 14px;
  --font-xxs: 12px;

  // line-height
  --lh-primary: 24px;
  --lh-s: 20px;
  --lh-xs: 16px;

  // effects
  --elevation-1: 0 4px 8px rgba(205, 205, 205, 0.16);
}
